# Copyright (c) 2024 Realtek Semiconductor Corp.
# SPDX-License-Identifier: Apache-2.0
if BOARD_RTL8762J_EVB

config BOARD
	default "rtl8762j_evb"

# config SERIAL
# 	default y

# config UART_INTERRUPT_DRIVEN
# 	default y

# config CONSOLE
# 	default y

# config UART_CONSOLE
# 	default CONSOLE

endif #BOARD_RTL8762J_EVB
