# Copyright (c) 2024 Realtek Semiconductor Corp.
# SPDX-License-Identifier: Apache-2.0

config REALTEK_OSIF
	bool "REALTEK OSIF API"
	default y
	depends on THREAD_STACK_INFO
	depends on POLL
	depends on SYS_HEAP_RUNTIME_STATS
	depends on RUNTIME_NMI
	help
	  This enables REALTEK OSIF API support. This is an OS-integration
	  layer which allows applications using REALTEK OSIF APIs to build on
	  Zephyr.

if REALTEK_OSIF

config OSIF_TIMER_MAX_COUNT
	int "Maximum timer count in OSIF application"
	default 64
	range 0 $(UINT8_MAX)
	help
	  Mention maximum number of timers in OSIF compliant application.

config OSIF_TASK_MAX_COUNT
	int "Maximum task count in OSIF application"
	default 10
	range 0 $(UINT8_MAX)
	help
	  Mention maximum number of tasks in OSIF compliant application.
endif
